<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Gráficos</title>
    <style>
        .center-text {text-align: center; font-size: 20px}
        .center-button {text-align: center;background-color: #f37d0f; color: #fff; 
        font-size: 20px; padding: 10px 20px; border: none; cursor: pointer; display: block;
        margin: 20px auto 0;border-radius: 10px;}
    </style>
</head>
<body>
    <h1><div class="center-text">Resultados Gráficos</div></h1>

    {% if grafica or grafica_circular %}
        <div class="center-text">
            <!-- Aquí se muestra la gráfica lineal -->
            <img src="data:image/png;base64,{{ grafica }}" alt="Gráfica" />
        </div>

        <div class="center-text">
            <!-- Aquí se muestra la gráfica circular -->
            <img src="data:image/png;base64,{{ grafica_circular }}" alt="Gráfica Circular" />
        </div>
        <div class="center-button">
            <h1>Generar Gráficas PDF</h1>
            <!-- Botón o enlace para generar las gráficas y descargar el PDF -->
            <a href="/mostrar_graficas_pdf" download="graficas.pdf">Generar Gráficas PDF</a>
        </div>
    {% endif %}

    {% if not grafica and not grafica_circular %}
        <div class="center-text">
            <p>{{ mensaje_error }}</p>
        </div>
    {% endif %}
    <div class="center-button">
        <a href="{{ url_for('home') }}" class="btn btn-primary">Volver al inicio</a>
    </div>
</body>
</html>
