<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trivia de Películas</title>
    </head>

    <body>
        <img src="static\Captura de pantalla 2023-08-23 103215.png" alt="">

        <p>Instrucciones: debajo encontrará dos casillas que debe completar. 
            Luego tendrá dos botones para iniciar el juego de la trivia y otro 
            en el cual podrá ver como le fue en la trivia.
        </p>
        <form action="{{ url_for('home') }}" method="post">
            <label for="input_numero">Número de opciones:</label>
            <input type="number" id="input_numero" name="input_numero" required><br>
            <label for="input_nombre">Nombre de usuario:</label>
            <input type="text" id="input_nombre" name="input_nombre" required><br>
            <button type="submit">Jugar Trivia</button>
        </form>

    </body>
</html>