<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>respuestas</title>
    </head>

    <body>
        <ul>
            {{respuesta}}
            {{calificacion}}
        </ul>  
        {% if contador_repeticiones < numero_de_opciones %}
            <form action="{{ url_for('jugar_trivia') }}" method="post"> 
                <button type="submit">Volver a jugar</button>
            </form>
        {% else %}
            <form action="{{ url_for('home') }}" method="post"> 
                <button type="submit">Volver al inicio</button>
            </form>
        {% endif %}

        
    </body>
</html>