<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>trivia</title>
    </head>

    <body>
        <img src="static\Captura de pantalla 2023-08-23 103215.png" alt="">

        <h3>Adivine de que pelicula proviene la siguiente frase: </h3>
        {{ lista[0] }}

        <form action="{{ url_for('respuestas') }}" method= "post">
            <input type="radio" id="{{lista[2][0]}}" name="opcion_elegida" value="{{lista[2][0]}}" required>
            <label for="{{lista[2][0]}}">{{lista[2][0]}}</label><br>
            <input type="radio" id="{{lista[2][1]}}" name="opcion_elegida" value="{{lista[2][1]}}" required>
            <label for="{{lista[2][1]}}">{{lista[2][1]}}</label><br>
            <input type="radio" id="{{lista[2][2]}}" name="opcion_elegida" value="{{lista[2][2]}}" required>
            <label for="{{lista[2][2]}}">{{lista[2][2]}}</label><br><br>
            <input type="submit" value="enviar">
        </form> 
    </body>
</html>