<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>trivia</title>
    </head>

    <body>
        <img src="static\Captura de pantalla 2023-08-23 103215.png" alt="">

        <h3>Adivine de que pelicula proviene la siguiente frase: </h3>
        {{ lista[0] }}
        <h3>Aquí se encuentran las opciones: </h3>
        <form action="/submit" method="post">
            {% for i in range(3)%}
                <button type="button" class="option-button" name="opcion_elegida" value="{{lista[2][i]}}">
                    {{lista[2][i]}}
                </button>
                <br>
        </form>
    </body>
</html>