<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Reclamo</title>
</head>
<body>
    <h1>Crear Nuevo Reclamo</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" enctype="multipart/form-data" action="{{ url_for('crear_reclamo') }}">
        <label for="contenido">Contenido:</label>
        <textarea id="contenido" name="description" required></textarea><br>

        <label for="departamento">Departamento:</label>
        <input type="text" id="departamento" name="department" required><br>

        <label for="foto">Adjuntar Foto (opcional):</label>
        <input type="file" id="foto" name="image"><br>

        <!-- Acción para enviar el formulario -->
        <button type="submit" name="action" value="crear">Enviar Reclamo</button>
    <button type="submit" name="action" value="volver_a_usuario">Volver al Panel</button>
    </form>
    
</body>
</html>
