<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel de Usuario</title>
    <style>
        .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #ff00a2;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin-top: 10px;
        }
        .btn:hover {
            background-color: #ff00a2;
        }
    </style>
</head>
<body>
    <h1>Bienvenido, {{ session['usuario'] }}</h1>
    <ul>
        <li><a href="{{ url_for('crear_reclamo') }}" class="btn">Crear Reclamo</a></li>
        <li><a href="{{ url_for('listar_reclamos') }}" class="btn">Listar Reclamos</a></li>
        <li><a href="{{ url_for('mis_reclamos') }}" class="btn">Mis Reclamos</a></li>
    </ul>
    <a href="{{ url_for('cerrar_sesion') }}" class="btn">Cerrar Sesión</a>
</body>
</html>
